@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
#home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /**********************************************************************/
  /**************ハンバーガーメニューアニメーション***********************/
  /**********************************************************************/
  /**********************************************************************/
  /**********************************************************************/
  /**********************************************************************/
}

#home [data-menu="close"] .header-hamburgerMenu :nth-child(1) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  transform: rotate(0deg);
  transform-origin: left;
  transition: transform  .9s;
}

@media (min-width: 540px) {
  #home [data-menu="close"] .header-hamburgerMenu :nth-child(1) {
    opacity: 0;
  }
}

#home [data-menu="close"] .header-hamburgerMenu :nth-child(2) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
}

@media (min-width: 540px) {
  #home [data-menu="close"] .header-hamburgerMenu :nth-child(2) {
    opacity: 0;
  }
}

#home [data-menu="close"] .header-hamburgerMenu :nth-child(3) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
}

@media (min-width: 540px) {
  #home [data-menu="close"] .header-hamburgerMenu :nth-child(3) {
    opacity: 0;
  }
}

#home [data-menu="close"] .header-hamburgerMenu :nth-child(4) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
}

@media (min-width: 540px) {
  #home [data-menu="close"] .header-hamburgerMenu :nth-child(4) {
    opacity: 0;
  }
}

#home [data-menu="close"] .header-hamburgerMenu :nth-child(5) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  transform: rotate(0deg);
  transform-origin: left;
  transition: transform  .9s;
}

@media (min-width: 540px) {
  #home [data-menu="close"] .header-hamburgerMenu :nth-child(5) {
    opacity: 0;
  }
}

#home [data-menu="open"] .header-navigation-menu :nth-child(1) {
  opacity: 1;
  transition: opacity .5s 1.0s;
  pointer-events: initial;
}

#home [data-menu="open"] .header-navigation-menu :nth-child(2) {
  opacity: 1;
  transition: opacity .5s 1.0s;
  pointer-events: initial;
}

#home [data-menu="open"] .header-navigation-menu :nth-child(3) {
  opacity: 1;
  transition: opacity .5s 1.0s;
  pointer-events: initial;
}

#home [data-menu="open"] .header-hamburgerMenu :nth-child(1) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  margin-top: 0px;
  transform: rotate(33deg);
  transform-origin: left;
  transition: transform .9s;
}

@media (min-width: 540px) {
  #home [data-menu="open"] .header-hamburgerMenu :nth-child(1) {
    opacity: 0;
  }
}

#home [data-menu="open"] .header-hamburgerMenu :nth-child(2) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  pointer-events: none;
}

@media (min-width: 540px) {
  #home [data-menu="open"] .header-hamburgerMenu :nth-child(2) {
    opacity: 0;
  }
}

#home [data-menu="open"] .header-hamburgerMenu :nth-child(3) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  pointer-events: none;
}

@media (min-width: 540px) {
  #home [data-menu="open"] .header-hamburgerMenu :nth-child(3) {
    opacity: 0;
  }
}

#home [data-menu="open"] .header-hamburgerMenu :nth-child(4) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  pointer-events: none;
}

@media (min-width: 540px) {
  #home [data-menu="open"] .header-hamburgerMenu :nth-child(4) {
    opacity: 0;
  }
}

#home [data-menu="open"] .header-hamburgerMenu :nth-child(5) {
  width: 50px;
  height: 3px;
  background-color: #0083CE;
  border-radius: 3px;
  margin-top: 5px;
  margin-top: 0px;
  transform: rotate(-33deg);
  transform-origin: left;
  transition: transform .9s;
}

@media (min-width: 540px) {
  #home [data-menu="open"] .header-hamburgerMenu :nth-child(5) {
    opacity: 0;
  }
}

#home .header {
  overflow: visible;
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 10;
}

#home .header-navigation-menu {
  margin: 3px auto;
  width: 93%;
}

@media (max-width: 540px) {
  #home .header-navigation-menu {
    width: 100%;
    text-align: center;
  }
}

#home .header-navigation-menu li:nth-child(1) {
  display: inline;
  text-decoration: none;
  font-size: 3.0rem;
  margin: 0 10px;
}

#home .header-navigation-menu li:nth-child(1) a {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 540px) {
  #home .header-navigation-menu li:nth-child(1) {
    opacity: 0;
    pointer-events: none;
    font-size: 1.65rem;
  }
}

@media (max-width: 540px) {
  #home .header-navigation-menu li:nth-child(1) {
    margin-left: 8%;
  }
}

#home .header-navigation-menu li:nth-child(2) {
  display: inline;
  text-decoration: none;
  font-size: 3.0rem;
  margin: 0 10px;
}

#home .header-navigation-menu li:nth-child(2) a {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 540px) {
  #home .header-navigation-menu li:nth-child(2) {
    opacity: 0;
    pointer-events: none;
    font-size: 1.65rem;
  }
}

#home .header-navigation-menu li:nth-child(3) {
  display: inline;
  text-decoration: none;
  font-size: 3.0rem;
  margin: 0 10px;
}

#home .header-navigation-menu li:nth-child(3) a {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 540px) {
  #home .header-navigation-menu li:nth-child(3) {
    opacity: 0;
    pointer-events: none;
    font-size: 1.65rem;
  }
}

#home .header-hamburgerMenu {
  pointer-events: none;
  opacity: 0;
}

@media (max-width: 540px) {
  #home .header-hamburgerMenu {
    position: absolute;
    top: 0px;
    left: 5px;
    opacity: 1;
    overflow: visible;
    cursor: pointer;
    pointer-events: initial;
  }
}

#home .main_background {
  position: absolute;
  top: 0;
  background-image: url(../../img/home/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 19%;
  width: 100%;
  height: 100%;
}

#home .mainWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#home .mainWrapperContent-character {
  position: absolute;
  width: 67vmin;
  height: 100vmin;
  right: 10%;
  background-image: url(../../img/home/桜島_大学生.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  #home .mainWrapperContent-character {
    width: 58vmin;
    height: 86vmin;
    bottom: 0;
    right: 6%;
  }
}

@media (max-height: 500px) and (max-width: 1024px) {
  #home .mainWrapperContent-character {
    right: 13%;
    width: 46vmin;
    height: 69vmin;
  }
}

@media (max-width: 540px) {
  #home .mainWrapperContent-character {
    right: 0;
    width: 34.5vmax;
    height: 53.5vmax;
  }
}

@media (max-height: 500px) and (max-width: 540px) {
  #home .mainWrapperContent-character {
    right: 12%;
  }
}

#home .mainWrapperContent-catchphrase {
  position: absolute;
  top: 3%;
  right: 7%;
  width: 7vmin;
}

@media (max-width: 1024px) {
  #home .mainWrapperContent-catchphrase {
    position: absolute;
    top: 7.4%;
    right: 7.5%;
    width: 5.5vh;
  }
}

@media (max-height: 500px) and (max-width: 1024px) {
  #home .mainWrapperContent-catchphrase {
    right: 11.2%;
  }
}

@media (max-width: 540px) {
  #home .mainWrapperContent-catchphrase {
    width: 4.2vmax;
    right: 5%;
  }
}

@media (max-height: 500px) and (max-width: 540px) {
  #home .mainWrapperContent-catchphrase {
    right: 7%;
  }
}

#home .mainWrapperContent-section {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
}

#home .mainWrapperContent_book {
  position: relative;
  top: calc(50% - 12vmax);
  display: flex;
  justify-content: space-evenly;
  left: 7.9vmax;
  width: 50%;
}

@media (max-width: 1024px) {
  #home .mainWrapperContent_book {
    width: 60%;
    left: 0;
    top: calc(44% - 20vmin);
  }
}

@media (max-height: 500px) and (max-width: 1024px) {
  #home .mainWrapperContent_book {
    top: calc(50% - 11vmax);
    left: 2%;
  }
}

@media (max-width: 540px) {
  #home .mainWrapperContent_book {
    opacity: 0;
    pointer-events: none;
  }
}

#home .mainWrapperContent_book .book_11 {
  position: relative;
  width: 16.5vmax;
  border: 1px solid #7abe99;
}

@media (max-width: 1024px) {
  #home .mainWrapperContent_book .book_11 {
    width: 15vmax;
  }
}

#home .mainWrapperContent_book .book_10 {
  position: relative;
  width: 16.5vmax;
  border: 1px solid #729dce;
}

@media (max-width: 1024px) {
  #home .mainWrapperContent_book .book_10 {
    width: 15vmax;
  }
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase1/sky.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*******タイピングライターのレイアウト********/
#typingWrite {
  position: absolute;
  width: 866px;
  height: 408px;
  top: 35.5%;
  right: 8%;
  color: #FFFFFD;
  transform: perspective(212px) rotateY(-8deg);
}

@media (max-width: 1024px) {
  #typingWrite {
    width: 475px;
    top: calc((110% - 20vmax) /2.1);
    left: 0%;
    right: 0px;
    margin: 0 auto;
    transform: none;
    height: auto;
  }
}

@media (max-width: 418px) {
  #typingWrite {
    width: 328px;
  }
}

#typingWrite_title {
  font-size: 70px;
}

@media (max-width: 1024px) {
  #typingWrite_title {
    font-size: 49px;
  }
}

@media (max-width: 418px) {
  #typingWrite_title {
    font-size: 34.5px;
  }
}

#typingWrite_first_line, #typingWrite_second_line {
  font-size: 38px;
  letter-spacing: 0.4px;
}

@media (max-width: 1024px) {
  #typingWrite_first_line, #typingWrite_second_line {
    font-size: 20.5px;
  }
}

@media (max-width: 418px) {
  #typingWrite_first_line, #typingWrite_second_line {
    font-size: 14.5px;
  }
}

/******************************/
/**キャレット点滅アニメーション**/
/******************************/
[data-blinking="off"]::after {
  content: "|";
}

[data-blinking="on"]::after {
  content: "|";
  animation: caretBlink 0.8s ease-in 0s infinite;
}

@keyframes caretBlink {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

#phase2 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase2/桜島麻衣bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#phase2 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 540px) {
  #phase2 .content-character {
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: initial;
  }
}

#phase2 .content-character_visual {
  position: relative;
  left: 26px;
  width: 40%;
  height: 80%;
  background-image: url(../../img/phase2/桜島麻衣.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto 0;
  animation: characterDisplay 1.25s ease-in 0s;
}

@media (max-width: 1024px) {
  #phase2 .content-character_visual {
    width: 50%;
    left: 3.4%;
  }
}

@media (max-width: 540px) {
  #phase2 .content-character_visual {
    width: 100%;
    top: 1%;
    left: 0px;
  }
}

#phase2 .content-character_explanation {
  flex-basis: 42%;
  position: relative;
  margin: auto 0;
  text-align: center;
  right: 46px;
}

@media (max-width: 1024px) {
  #phase2 .content-character_explanation {
    flex-basis: 50%;
  }
}

@media (max-width: 540px) {
  #phase2 .content-character_explanation {
    right: initial;
    padding-top: 3vh;
  }
}

#phase2 .content-character .character_syndrome {
  font-size: 0;
}

@media (max-width: 540px) {
  #phase2 .content-character .character_syndrome {
    writing-mode: vertical-rl;
    position: absolute;
    right: calc(13vw - 5vh);
    top: -18%;
    z-index: 9999;
    font-size: calc(3vw + 1.5vh);
    overflow: initial;
  }
}

#phase2 .content-character .nthParent {
  font-size: 0;
}

#phase2 .content-character .nthParent :nth-child(1) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(2) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(3) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(4) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(5) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(6) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(7) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(8) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(9) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(10) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(11) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(12) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(13) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(14) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(15) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(16) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(17) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(18) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(19) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(20) {
  display: inline-block;
  font-size: 2vw;
}

#phase2 .content-character .nthParent :nth-child(21) {
  display: inline-block;
  font-size: 2vw;
}

@media (max-width: 1024px) {
  #phase2 .content-character .nthParent :nth-child(1) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(2) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(3) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(4) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(5) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(6) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(7) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(8) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(9) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(10) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(11) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(12) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(13) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(14) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(15) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(16) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(17) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(18) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(19) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(20) {
    font-size: 2.38vw;
  }
  #phase2 .content-character .nthParent :nth-child(21) {
    font-size: 2.38vw;
  }
}

#phase2 .content-character .character_line_1 {
  position: relative;
  right: 10px;
}

#phase2 .content-character .character_line_2 {
  position: relative;
  top: 19%;
}

#phase2 .content-character .character_title {
  font-size: 86px;
}

@media (max-width: 1024px) {
  #phase2 .content-character .character_title {
    font-size: 54px;
  }
}

@media (max-width: 540px) {
  #phase2 .content-character .character_title {
    font-size: calc(4vw + 3vh);
  }
}

#phase3 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase3/古賀朋絵bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#phase3 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #phase3 .content-character {
    display: block;
  }
}

@media (max-width: 540px) {
  #phase3 .content-character {
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: initial;
  }
}

#phase3 .content-character_visual {
  position: relative;
  width: 42%;
  height: 80%;
  background-image: url(../../img/phase3/古賀朋絵.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto 0;
  animation: characterDisplay 1.25s ease-in 0s;
}

@media (max-width: 1024px) {
  #phase3 .content-character_visual {
    margin: auto;
    width: 85%;
    top: 1%;
  }
}

@media (max-width: 540px) {
  #phase3 .content-character_visual {
    width: 100%;
    top: 1%;
    left: 0px;
    height: 95%;
  }
}

#phase3 .content-character_explanation {
  flex-basis: 55%;
  position: relative;
  margin: auto 0;
  right: 3%;
}

@media (max-width: 1024px) {
  #phase3 .content-character_explanation {
    right: initial;
    margin: auto;
    top: -0.5%;
    width: calc(350px + 35vmin);
    overflow: visible;
  }
}

@media (max-width: 540px) {
  #phase3 .content-character_explanation {
    right: initial;
    padding-top: 3vh;
    width: initial;
  }
}

#phase3 .content-character .character_title {
  font-size: 0;
  position: relative;
  top: -18px;
}

@media (max-width: 540px) {
  #phase3 .content-character .character_title {
    writing-mode: vertical-rl;
    position: absolute;
    left: calc(13vw - 4vh);
    top: -18%;
    z-index: 9999;
    font-size: calc(3vw + 1.5vh);
    overflow: initial;
  }
}

#phase3 .content-character .nthParent :nth-child(1) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(2) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(3) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(4) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(5) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(6) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(7) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(8) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(9) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(10) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(11) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(12) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(13) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(14) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(15) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(16) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(17) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(18) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(19) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(20) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase3 .content-character .nthParent :nth-child(21) {
  display: inline-block;
  font-size: 2.0vw;
}

@media (max-width: 1024px) {
  #phase3 .content-character .nthParent {
    top: -11px;
    left: calc(10% - 10vw);
  }
  #phase3 .content-character .nthParent :nth-child(1) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(2) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(3) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(4) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(5) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(6) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(7) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(8) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(9) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(10) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(11) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(12) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(13) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(14) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(15) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(16) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(17) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(18) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(19) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(20) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase3 .content-character .nthParent :nth-child(21) {
    font-size: calc(1.4vw + 1.4vh);
  }
}

#phase3 .content-character .character_line_1 {
  position: relative;
  right: 10px;
}

#phase3 .content-character .character_line_2 {
  position: relative;
  top: 19%;
}

#phase3 .content-character .character_syndrome {
  font-size: 4.8vw;
  letter-spacing: -3px;
  text-align: right;
}

@media (max-width: 1024px) {
  #phase3 .content-character .character_syndrome {
    margin-bottom: 0.9%;
    font-size: calc(2.8vw + 3.5vh);
    text-align: center;
    letter-spacing: -3px;
  }
}

@media (max-width: 540px) {
  #phase3 .content-character .character_syndrome {
    font-size: calc(3.5vw + 3vh);
    letter-spacing: -6px;
  }
}

#phase4 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase4/双葉理央bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#phase4 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #phase4 .content-character {
    display: block;
  }
}

@media (max-width: 540px) {
  #phase4 .content-character {
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: initial;
  }
}

#phase4 .content-character_visual {
  position: relative;
  width: 42%;
  height: 80%;
  background-image: url(../../img/phase4/双葉理央.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  right: 4%;
  animation: characterDisplay 1.25s ease-in 0s;
}

@media (max-width: 1024px) {
  #phase4 .content-character_visual {
    right: initial;
    left: initial;
    margin: auto;
    width: 85%;
    height: 75%;
  }
}

@media (max-width: 540px) {
  #phase4 .content-character_visual {
    width: 100%;
    top: 1%;
    left: 31px;
    height: 95%;
  }
}

#phase4 .content-character_explanation {
  flex-basis: 55%;
  position: relative;
  margin: auto;
  margin-top: 200.6px;
  right: 0.5%;
}

@media (max-width: 1024px) {
  #phase4 .content-character_explanation {
    width: calc(350px + 35vmin);
    right: initial;
    margin-top: initial;
    top: 2%;
    overflow: visible;
  }
}

@media (max-width: 540px) {
  #phase4 .content-character_explanation {
    right: initial;
    width: initial;
    padding-top: 3vh;
  }
}

#phase4 .content-character .character_title {
  font-size: 0;
  text-align: right;
  position: relative;
  top: -20px;
}

@media (max-width: 540px) {
  #phase4 .content-character .character_title {
    writing-mode: vertical-rl;
    position: absolute;
    left: calc(12.5vw - 4vh);
    top: -18%;
    z-index: 9999;
    font-size: calc(3vw + 1.5vh);
    overflow: initial;
    right: initial;
  }
}

#phase4 .content-character .nthParent :nth-child(1) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(2) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(3) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(4) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(5) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(6) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(7) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(8) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(9) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(10) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(11) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(12) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(13) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(14) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(15) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(16) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(17) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(18) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(19) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(20) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase4 .content-character .nthParent :nth-child(21) {
  display: inline-block;
  font-size: 2.0vw;
}

@media (max-width: 1024px) {
  #phase4 .content-character .nthParent {
    top: -2.1vh;
    right: calc(16% - 15vw);
  }
  #phase4 .content-character .nthParent :nth-child(1) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(2) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(3) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(4) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(5) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(6) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(7) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(8) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(9) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(10) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(11) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(12) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(13) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(14) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(15) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(16) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(17) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(18) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(19) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(20) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase4 .content-character .nthParent :nth-child(21) {
    font-size: calc(1.4vw + 1.4vh);
  }
}

#phase4 .content-character .character_line_1 {
  position: relative;
  text-align: initial;
  right: 10px;
  margin-bottom: 0.9%;
}

#phase4 .content-character .character_line_2 {
  position: relative;
  top: 19%;
}

#phase4 .content-character .character_syndrome {
  font-size: 4.9vw;
  text-align: right;
}

@media (max-width: 1024px) {
  #phase4 .content-character .character_syndrome {
    font-size: calc(3.5vw + 3.3vh);
    text-align: center;
    letter-spacing: -3px;
  }
}

@media (max-width: 540px) {
  #phase4 .content-character .character_syndrome {
    letter-spacing: -4px;
  }
}

#phase5 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase5/豊浜のどかbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#phase5 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 540px) {
  #phase5 .content-character {
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: initial;
  }
}

#phase5 .content-character_visual {
  position: relative;
  width: 40%;
  height: 80%;
  background-image: url(../../img/phase5/豊浜のどか.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto 0;
  right: 1%;
  animation: characterDisplay 1.25s ease-in 0s;
}

@media (max-width: 1024px) {
  #phase5 .content-character_visual {
    width: 46%;
  }
}

@media (max-width: 540px) {
  #phase5 .content-character_visual {
    width: 100%;
    top: -1%;
  }
}

#phase5 .content-character_explanation {
  flex-basis: 44%;
  position: relative;
  margin: auto 0;
  text-align: left;
  margin-bottom: 21vh;
  left: 1.2%;
}

@media (max-width: 1024px) {
  #phase5 .content-character_explanation {
    flex-basis: 50%;
    left: 3.0%;
    margin-bottom: calc(42vh - 15vw);
  }
}

@media (max-width: 540px) {
  #phase5 .content-character_explanation {
    right: initial;
    left: initial;
    padding-top: 3vh;
    text-align: center;
    margin-bottom: initial;
  }
}

#phase5 .content-character .character_title {
  font-size: 0;
  position: relative;
  top: -20px;
}

@media (max-width: 540px) {
  #phase5 .content-character .character_title {
    writing-mode: vertical-rl;
    position: absolute;
    right: calc(9vw - 5vh);
    top: -18%;
    z-index: 9999;
    font-size: calc(3vw + 1.5vh);
    overflow: initial;
  }
}

#phase5 .content-character .nthParent :nth-child(1) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(2) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(3) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(4) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(5) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(6) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(7) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(8) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(9) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(10) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(11) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(12) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(13) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(14) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(15) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(16) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(17) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(18) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(19) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(20) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase5 .content-character .nthParent :nth-child(21) {
  display: inline-block;
  font-size: 2.0vw;
}

@media (max-width: 1024px) {
  #phase5 .content-character .nthParent {
    top: -10px;
  }
  #phase5 .content-character .nthParent :nth-child(1) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(2) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(3) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(4) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(5) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(6) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(7) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(8) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(9) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(10) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(11) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(12) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(13) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(14) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(15) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(16) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(17) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(18) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(19) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(20) {
    font-size: 2.28vw;
  }
  #phase5 .content-character .nthParent :nth-child(21) {
    font-size: 2.28vw;
  }
}

#phase5 .content-character .character_line_1 {
  position: relative;
  right: 10px;
}

#phase5 .content-character .character_line_2 {
  position: relative;
  top: 19%;
}

#phase5 .content-character .character_syndrome {
  font-size: 68px;
  letter-spacing: -4px;
}

@media (max-width: 1024px) {
  #phase5 .content-character .character_syndrome {
    font-size: calc(3.5vw + 2.4vh);
  }
}

@media (max-width: 540px) {
  #phase5 .content-character .character_syndrome {
    font-size: calc(4vw + 3vh);
  }
}

#phase6 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase6/梓川かえでbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#phase6 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #phase6 .content-character {
    display: block;
  }
}

@media (max-width: 540px) {
  #phase6 .content-character {
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: initial;
  }
}

#phase6 .content-character_visual {
  position: relative;
  width: 42%;
  height: 80%;
  background-image: url(../../img/phase6/梓川かえで.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto 0;
  left: 6%;
  animation: characterDisplay 1.25s ease-in 0s;
}

@media (max-width: 1024px) {
  #phase6 .content-character_visual {
    margin: auto;
    width: 85%;
    top: 1%;
    left: initial;
  }
}

@media (max-width: 540px) {
  #phase6 .content-character_visual {
    width: 100%;
    top: 1%;
    left: 0px;
    height: 95%;
  }
}

#phase6 .content-character_explanation {
  flex-basis: 55%;
  position: relative;
  margin: auto;
  right: 3%;
  margin-bottom: 21vh;
}

@media (max-width: 1024px) {
  #phase6 .content-character_explanation {
    right: initial;
    width: calc(350px + 35vmin);
    overflow: visible;
  }
}

@media (max-width: 540px) {
  #phase6 .content-character_explanation {
    right: initial;
    width: initial;
    padding-top: 3vh;
  }
}

#phase6 .content-character .character_title {
  font-size: 0;
}

@media (max-width: 540px) {
  #phase6 .content-character .character_title {
    writing-mode: vertical-rl;
    position: absolute;
    left: calc(13vw - 4vh);
    top: -18%;
    z-index: 9999;
    font-size: calc(3vw + 1.5vh);
    overflow: initial;
    text-align: initial;
    right: initial;
  }
}

#phase6 .content-character .character_title_1 {
  text-align: left;
}

#phase6 .content-character .character_title_2 {
  text-align: right;
  position: relative;
  top: -12px;
}

#phase6 .content-character .nthParent :nth-child(1) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(2) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(3) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(4) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(5) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(6) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(7) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(8) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(9) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(10) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(11) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(12) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(13) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(14) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(15) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(16) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(17) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(18) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(19) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(20) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase6 .content-character .nthParent :nth-child(21) {
  display: inline-block;
  font-size: 2.0vw;
}

@media (max-width: 1024px) {
  #phase6 .content-character .nthParent {
    position: relative;
    top: 11px;
    left: calc(21% - 20vw);
  }
  #phase6 .content-character .nthParent :nth-child(1) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(2) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(3) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(4) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(5) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(6) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(7) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(8) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(9) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(10) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(11) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(12) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(13) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(14) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(15) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(16) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(17) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(18) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(19) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(20) {
    font-size: calc(1.4vw + 1.4vh);
  }
  #phase6 .content-character .nthParent :nth-child(21) {
    font-size: calc(1.4vw + 1.4vh);
  }
}

#phase6 .content-character .character_line_1 {
  position: relative;
  right: 10px;
}

#phase6 .content-character .character_line_2 {
  position: relative;
  top: 19%;
}

#phase6 .content-character .character_syndrome {
  font-size: 4.0vw;
  letter-spacing: -3px;
  text-align: right;
}

@media (max-width: 1024px) {
  #phase6 .content-character .character_syndrome {
    font-size: calc(2.0vw + 3.5vh);
    text-align: center;
    letter-spacing: -3px;
    position: relative;
    top: 2.5px;
  }
}

@media (max-width: 540px) {
  #phase6 .content-character .character_syndrome {
    font-size: calc(3vw + 3vh);
    letter-spacing: initial;
    width: calc(22vh + 50%);
    margin: auto;
    top: initial;
  }
}

#phase7 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase7/牧之原翔子bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#phase7 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 540px) {
  #phase7 .content-character {
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: initial;
  }
}

#phase7 .content-character_visual {
  position: relative;
  left: 26px;
  width: 40%;
  height: 80%;
  background-image: url(../../img/phase7/牧之原翔子.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto 0;
  animation: characterDisplay 1.25s ease-in 0s;
}

@media (max-width: 1024px) {
  #phase7 .content-character_visual {
    width: 50%;
    left: 3.4%;
  }
}

@media (max-width: 540px) {
  #phase7 .content-character_visual {
    width: 100%;
    top: 1%;
    left: 0px;
    height: 95%;
  }
}

#phase7 .content-character_explanation {
  flex-basis: 48%;
  position: relative;
  margin: auto 0;
  text-align: center;
  right: 2%;
}

@media (max-width: 1024px) {
  #phase7 .content-character_explanation {
    flex-basis: 50%;
    right: 4%;
  }
}

@media (max-width: 540px) {
  #phase7 .content-character_explanation {
    right: initial;
    padding-top: 3vh;
  }
}

#phase7 .content-character .character_title {
  font-size: 0vw;
  text-align: left;
}

@media (max-width: 540px) {
  #phase7 .content-character .character_title {
    writing-mode: vertical-rl;
    position: absolute;
    right: calc(13vw - 5vh);
    top: -18%;
    z-index: 9999;
    font-size: calc(3vw + 1.5vh);
    overflow: initial;
  }
}

#phase7 .content-character .character_title_1 {
  text-align: left;
}

#phase7 .content-character .character_title_2 {
  text-align: right;
  position: relative;
  top: -12px;
}

#phase7 .content-character .nthParent :nth-child(1) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(2) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(3) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(4) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(5) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(6) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(7) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(8) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(9) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(10) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(11) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(12) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(13) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(14) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(15) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(16) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(17) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(18) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(19) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(20) {
  display: inline-block;
  font-size: 2.0vw;
}

#phase7 .content-character .nthParent :nth-child(21) {
  display: inline-block;
  font-size: 2.0vw;
}

@media (max-width: 1024px) {
  #phase7 .content-character .nthParent :nth-child(1) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(2) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(3) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(4) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(5) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(6) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(7) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(8) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(9) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(10) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(11) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(12) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(13) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(14) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(15) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(16) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(17) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(18) {
    font-size: 2.38vw;
  }
  #phase7 .content-character .nthParent :nth-child(19) {
    font-size: 2.38vw;
  }
}

#phase7 .content-character .character_line_1 {
  position: relative;
  right: 10px;
}

#phase7 .content-character .character_line_2 {
  position: relative;
  top: 19%;
}

#phase7 .content-character .character_syndrome {
  font-size: 3.7vw;
  text-align: right;
}

@media (max-width: 1024px) {
  #phase7 .content-character .character_syndrome {
    font-size: 3.9vw;
  }
}

@media (max-width: 540px) {
  #phase7 .content-character .character_syndrome {
    font-size: calc(3vw + 3vh);
    letter-spacing: initial;
    width: calc(22vh + 43%);
    margin: auto;
  }
}

#root {
  width: 100%;
  height: 100%;
}

#react {
  height: 100%;
}

#home {
  opacity: 0;
  pointer-events: none;
}

#phase8 {
  width: 100%;
  height: 100%;
}

#phase8 .content {
  width: 100%;
  height: 100%;
}

#phase8 .content-title {
  position: relative;
  width: calc(50% + 24vmax);
  height: 100%;
  margin: auto;
}

#phase8 .content-title #svg8 {
  width: 100%;
  height: 100%;
}

#phase8 .content-transition {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#phase8 .content-transition :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  opacity: .6;
  background-color: #106ab6;
}

#phase8 .content-transition :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  opacity: .7;
  background-color: #137494;
}

#phase8 .content-transition :nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  opacity: .8;
  background-color: #214e49;
}

#phase8 .content-transition :nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  opacity: 1.0;
  background-color: #404040;
}

* {
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif, "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Shippori Mincho";
  overflow: hidden;
}

#root {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  line-height: 1.5;
  background: #fff;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@keyframes characterDisplay {
  0%, 10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
