@charset "UTF-8";
#phase2 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/phase2/桜島麻衣bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#phase2 .content-character {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 540px) {
    #phase2 .content-character {
      height: 70%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      overflow: initial; } }
  #phase2 .content-character_visual {
    position: relative;
    left: 26px;
    width: 40%;
    height: 80%;
    background-image: url(../../img/phase2/桜島麻衣.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto 0;
    animation: characterDisplay 1.25s ease-in 0s; }
    @media (max-width: 1024px) {
      #phase2 .content-character_visual {
        width: 50%;
        left: 3.4%; } }
    @media (max-width: 540px) {
      #phase2 .content-character_visual {
        width: 100%;
        top: 1%;
        left: 0px; } }
  #phase2 .content-character_explanation {
    flex-basis: 42%;
    position: relative;
    margin: auto 0;
    text-align: center;
    right: 46px; }
    @media (max-width: 1024px) {
      #phase2 .content-character_explanation {
        flex-basis: 50%; } }
    @media (max-width: 540px) {
      #phase2 .content-character_explanation {
        right: initial;
        padding-top: 3vh; } }
  #phase2 .content-character .character_syndrome {
    font-size: 0; }
    @media (max-width: 540px) {
      #phase2 .content-character .character_syndrome {
        writing-mode: vertical-rl;
        position: absolute;
        right: calc(13vw - 5vh);
        top: -18%;
        z-index: 9999;
        font-size: calc(3vw + 1.5vh);
        overflow: initial; } }
  #phase2 .content-character .nthParent {
    font-size: 0; }
    #phase2 .content-character .nthParent :nth-child(1) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(2) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(3) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(4) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(5) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(6) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(7) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(8) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(9) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(10) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(11) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(12) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(13) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(14) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(15) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(16) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(17) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(18) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(19) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(20) {
      display: inline-block;
      font-size: 2vw; }
    #phase2 .content-character .nthParent :nth-child(21) {
      display: inline-block;
      font-size: 2vw; }
    @media (max-width: 1024px) {
      #phase2 .content-character .nthParent :nth-child(1) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(2) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(3) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(4) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(5) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(6) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(7) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(8) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(9) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(10) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(11) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(12) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(13) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(14) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(15) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(16) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(17) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(18) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(19) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(20) {
        font-size: 2.38vw; }
      #phase2 .content-character .nthParent :nth-child(21) {
        font-size: 2.38vw; } }
  #phase2 .content-character .character_line_1 {
    position: relative;
    right: 10px; }
  #phase2 .content-character .character_line_2 {
    position: relative;
    top: 19%; }
  #phase2 .content-character .character_title {
    font-size: 86px; }
    @media (max-width: 1024px) {
      #phase2 .content-character .character_title {
        font-size: 54px; } }
    @media (max-width: 540px) {
      #phase2 .content-character .character_title {
        font-size: calc(4vw + 3vh); } }
