// compileNested: ../../../dest/phase6/$1.css
@import '../variables';

#phase6 {
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    // 背景画像を中心に持っていく
    background-image: url(../../img/phase6/梓川かえでbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-character {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @media(max-width: $breakpoint_1024) {
        display: block;
    }
    @media(max-width: $breakpoint_540) {
      height: 70%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      overflow: initial;
    }
    &_visual {
      position: relative;
      //left: 26px;
      width: 42%;
      height: 80%;
      background-image: url(../../img/phase6/梓川かえで.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: auto 0;
      left: 6%;
      animation: characterDisplay 1.25s ease-in 0s;
      @media(max-width: $breakpoint_1024) {
        margin: auto;
        width: 85%;
        top: 1%;
        left: initial;
      }
      @media(max-width: $breakpoint_540) {
        width: 100%;
        top: 1%;
        left: 0px;
        height: 95%;
      }
    }
    &_explanation {
      flex-basis: 55%;
      position: relative;
      margin: auto;
      right: 3%;
      margin-bottom: 21vh;
      @media(max-width: $breakpoint_1024) {
        right: initial;
        width: calc(350px + 35vmin);
        overflow: visible;
      }
      @media(max-width: $breakpoint_540) {
        right: initial;
        width: initial;
        padding-top: 3vh;
      }
    }
    .character_title {
      font-size: 0;
      @media(max-width: $breakpoint_540) {
        writing-mode: vertical-rl;
  	    position: absolute;
  	    left: calc(13vw - 4vh);
  	    top: -18%;
  	    z-index: 9999;
        font-size: calc(3vw + 1.5vh);
        overflow: initial;
        text-align: initial;
        right: initial;
      }
      &_1 {
        text-align: left;
      }
      &_2 {
        text-align: right;
        position: relative;
        top: -12px;
      }
    }
    .nthParent {
      @for $index from 1 through 21 {
        :nth-child(#{$index}){
          display: inline-block;
          font-size: 2.0vw;
        }
      }
      @media(max-width: $breakpoint_1024) {
        position: relative;
        top: 11px;
        left: calc(21% - 20vw);
        @for $index from 1 through 21 {
          :nth-child(#{$index}){
            font-size: calc(1.4vw + 1.4vh);
          }
        }
      }
    }
    .character_line_1 {
      position: relative;
      right: 10px;
    }
    .character_line_2 {
      position: relative;
      top: 19%;

    }
    .character_syndrome {
      font-size: 4.0vw;
      letter-spacing: -3px;
      text-align: right;
      @media(max-width: $breakpoint_1024) {
        //font-size: 49px;
        //font-size: calc(3.5vw + 3.5vh);
        font-size: calc(2.0vw + 3.5vh);
        text-align: center;
        letter-spacing: -3px;
        position: relative;
        top: 2.5px;
      }
      @media(max-width: $breakpoint_540) {
        font-size: calc(3vw + 3vh);
        letter-spacing: initial;
        width: calc(22vh + 50%);
        margin: auto;
        top: initial;
      }
    }
  }
}
